In [2]:
#import dependencies 
import pandas as pd

In [3]:
#create a path for file
school_path = "/Users/kscomputer/Desktop/PyCitySchools/pandas-challenge/Resources/students_complete.csv"
district_path = "/Users/kscomputer/Desktop/PyCitySchools/pandas-challenge/Resources/schools_complete.csv"

In [4]:
#read district_path to a dataframe and get a snapshot
district_charter_df = pd.read_csv(district_path)

district_charter_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
#read school_path to a dataframe and get a snapshot of data
school_all_df = pd.read_csv(school_path)

school_all_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
#merged school_all and district_charter dfs to one dataframe on 'school name' 
merged_df = pd.merge(school_all_df,district_charter_df, on='school_name')

merged_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [7]:
#Start of District Summary Creation

In [8]:
#find schools that are only in district. Remove Charter. 
district_size_df = district_charter_df.loc[district_charter_df['type']=='District',:]

district_size_df.head()

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
3           3  Hernandez High School  District  4635  3022020
7           7     Bailey High School  District  4976  3124928
11         11  Rodriguez High School  District  3999  2547363

In [9]:
#find lenth of school id to determine how many schools are in district
district_size_count = district_size_df['School ID']

district_size= len(district_size_count)

district_size

7

In [10]:
#find sum of students in the district
district_student_sum = district_size_df['size'].sum()

district_student_sum

26976

In [11]:
#find sum of budget for district
district_budget_sum = district_size_df['budget'].sum()

district_budget_sum

17347923

In [12]:
#inner merge on district_size and school_all to make calculations for average math score,reading, and percent
math_reading_df = pd.merge(district_size_df, school_all_df[['reading_score','math_score','school_name']], on='school_name')

math_reading_df

,School ID,school_name,type,size,budget,reading_score,math_score
0,0,Huang High School,District,2917,1910635,66,79
1,0,Huang High School,District,2917,1910635,94,61
2,0,Huang High School,District,2917,1910635,90,60
3,0,Huang High School,District,2917,1910635,67,58
4,0,Huang High School,District,2917,1910635,97,84
...,...,...,...,...,...,...,...
26971,13,Ford High School,District,2739,1763916,63,59
26972,13,Ford High School,District,2739,1763916,94,80
26973,13,Ford High School,District,2739,1763916,91,66
26974,13,Ford High School,District,2739,1763916,75,70
26975,13,Ford High School,District,2739,1763916,76,84

In [13]:
#merge dataframe math_reading is good. 
math_reading_df['school_name'].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Name: school_name, dtype: int64

In [14]:
#avaerage math for district 
average_math_district = math_reading_df['math_score'].mean()

average_math_district

76.98702550415184

In [15]:
#average reading for district
average_reading_district = math_reading_df['reading_score'].mean()

average_reading_district

80.96248517200475

In [16]:
#percent passing math district
passing_math_district = (math_reading_df['math_score']>=70).sum()

percent_math_district = (passing_math_district/26976)*100

percent_math_district

66.51838671411625

In [17]:
#percent passing reading
passing_reading_district = (math_reading_df['reading_score']>=70).sum()

percent_reading_district = (passing_reading_district/26976)*100 

percent_reading_district

80.90524911032028

In [18]:
#percent passing math and reading
passing_reading_math_district = ((math_reading_df['reading_score']>=70)& (math_reading_df['math_score']>=70)).sum()

percent_reading_math_district = (passing_reading_math_district/26976)*100

percent_reading_math_district

53.695877817319094

In [19]:
#summary table for district
summary_district = {'Total Schools':[district_size],
                      'Total Students':[district_student_sum],
                      'Total Budget':[district_budget_sum],
                      'Average Math Score':[average_math_district],
                      'Average Reading Score':[average_reading_district],
                      '% Passing Math': [percent_math_district],
                      '% Passing Reading':[percent_reading_district],
                      '% Overall Passing':[percent_reading_math_district]}

summary_district_df = pd.DataFrame(data = summary_district)
summary_district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,7,26976,17347923,76.987026,80.962485,66.518387,80.905249,53.695878

In [20]:
#taking merged_df and re organizing for the information we need beginning of school summary
school_df = merged_df[['school_name','type','size','budget','math_score','reading_score']]

school_df

              school_name      type  size   budget  math_score  reading_score
0       Huang High School  District  2917  1910635          79             66
1       Huang High School  District  2917  1910635          61             94
2       Huang High School  District  2917  1910635          60             90
3       Huang High School  District  2917  1910635          58             67
4       Huang High School  District  2917  1910635          84             97
...                   ...       ...   ...      ...         ...            ...
39165  Thomas High School   Charter  1635  1043130          90             99
39166  Thomas High School   Charter  1635  1043130          70             95
39167  Thomas High School   Charter  1635  1043130          84             73
39168  Thomas High School   Charter  1635  1043130          90             99
39169  Thomas High School   Charter  1635  1043130          75             95

[39170 rows x 6 columns]

In [21]:
school_type = school_df.groupby(['school_name'])['type']

school_t = school_type.unique()

school_t

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [22]:
schools_budget = school_df.groupby(['school_name'])['budget']
#merged_df['budget'].value_counts()

school_b = schools_budget.unique()

school_b

school_name
Bailey High School       [3124928]
Cabrera High School      [1081356]
Figueroa High School     [1884411]
Ford High School         [1763916]
Griffin High School       [917500]
Hernandez High School    [3022020]
Holden High School        [248087]
Huang High School        [1910635]
Johnson High School      [3094650]
Pena High School          [585858]
Rodriguez High School    [2547363]
Shelton High School      [1056600]
Thomas High School       [1043130]
Wilson High School       [1319574]
Wright High School       [1049400]
Name: budget, dtype: object

In [23]:
per_school_students = school_df.groupby(['school_name'])['size']

students_t = per_school_students.unique()
students_t

school_name
Bailey High School       [4976]
Cabrera High School      [1858]
Figueroa High School     [2949]
Ford High School         [2739]
Griffin High School      [1468]
Hernandez High School    [4635]
Holden High School        [427]
Huang High School        [2917]
Johnson High School      [4761]
Pena High School          [962]
Rodriguez High School    [3999]
Shelton High School      [1761]
Thomas High School       [1635]
Wilson High School       [2283]
Wright High School       [1800]
Name: size, dtype: object

In [24]:
#find per student budget
per_school = school_b/students_t

per_school

school_name
Bailey High School       [628.0]
Cabrera High School      [582.0]
Figueroa High School     [639.0]
Ford High School         [644.0]
Griffin High School      [625.0]
Hernandez High School    [652.0]
Holden High School       [581.0]
Huang High School        [655.0]
Johnson High School      [650.0]
Pena High School         [609.0]
Rodriguez High School    [637.0]
Shelton High School      [600.0]
Thomas High School       [638.0]
Wilson High School       [578.0]
Wright High School       [583.0]
dtype: object

In [25]:
#updated data frame created with mean for math_score and reading_score
average_math =school_df.groupby(['school_name']) ['math_score'].mean()
average_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [26]:
#make sure data displays how I think
average_read = school_df.groupby(['school_name'])['reading_score'].mean()
average_read

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [27]:
math_s = school_df.loc[school_df['math_score']>=70]

math_p = (math_s.groupby(['school_name']).count()['budget']/school_df.groupby(['school_name']).count()['budget'])*100

math_p

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: budget, dtype: float64

In [28]:
reading_s = school_df.loc[school_df['reading_score']>=70]

reading_p = (reading_s.groupby(["school_name"]).count()["budget"]/school_df.groupby(["school_name"]).count()["budget"])*100

reading_p

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: budget, dtype: float64

In [29]:
#indivduals who meet criteria of passing reading and math
read_math_s = school_df.loc[(school_df['reading_score']>=70) & (school_df['math_score']>=70)]

read_math_p = (read_math_s.groupby(['school_name']).count()['budget']/school_df.groupby(['school_name']).count()['budget'])*100

read_math_p

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: budget, dtype: float64

In [34]:
school_summary = pd.DataFrame({'School Type':school_t,
    'Total Students':students_t,
                   'Total School Budget':school_b,
                    'Per Student Budget': per_school,           
                   'Average Math Score':average_math,
                   'Average Reading Score':average_read,
                   '% Passing Math':math_p,
                   '% Passing Reading':reading_p,
                   '% Overall Passing':read_math_p

                  })
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],[4976],[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],[1858],[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],[2949],[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],[2739],[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],[1468],[917500],[625.0],83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],[4635],[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],[427],[248087],[581.0],83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],[2917],[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],[4761],[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],[962],[585858],[609.0],83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],[3999],[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],[1761],[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],[1635],[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],[2283],[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],[1800],[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,90.333333

In [40]:
top_five = school_summary.sort_values('% Overall Passing', ascending=False)

top_five.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,[Charter],[1858],[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,[Charter],[1635],[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,[Charter],[1468],[917500],[625.0],83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,[Charter],[2283],[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,[Charter],[962],[585858],[609.0],83.839917,84.044699,94.594595,95.945946,90.540541

In [41]:
bottom_five = school_summary.sort_values('% Overall Passing')

bottom_five.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,[District],[3999],[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,[District],[2949],[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,[District],[2917],[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,[District],[4635],[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,[District],[4761],[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,53.539172

In [152]:
#math score by grade step 1 make a smaller data frame
grades_math_df = school_all_df[['grade','school_name','math_score']]

grades_math_df.head()

  grade        school_name  math_score
0   9th  Huang High School          79
1  12th  Huang High School          61
2  12th  Huang High School          60
3  12th  Huang High School          58
4   9th  Huang High School          84

In [158]:
#math score by grade step 2 group 'school name' and 'grade' together to isolate 'math score'
math_test = grades_math_df.groupby(['school_name','grade'])

In [159]:
#math score by grade step 3 take 'math_test'and .mean
math_test.mean()

                             math_score
school_name           grade
Bailey High School    10th    76.996772
                      11th    77.515588
                      12th    76.492218
                      9th     77.083676
Cabrera High School   10th    83.154506
                      11th    82.765560
                      12th    83.277487
                      9th     83.094697
Figueroa High School  10th    76.539974
                      11th    76.884344
                      12th    77.151369
                      9th     76.403037
Ford High School      10th    77.672316
                      11th    76.918058
                      12th    76.179963
                      9th     77.361345
Griffin High School   10th    84.229064
                      11th    83.842105
                      12th    83.356164
                      9th     82.044010
Hernandez High School 10th    77.337408
                      11th    77.136029
                      12th    77.186567
                      9th     77.438495
Holden High School    10th    83.429825
                      11th    85.000000
                      12th    82.855422
                      9th     83.787402
Huang High School     10th    75.908735
                      11th    76.446602
                      12th    77.225641
                      9th     77.027251
Johnson High School   10th    76.691117
                      11th    77.491653
                      12th    76.863248
                      9th     77.187857
Pena High School      10th    83.372000
                      11th    84.328125
                      12th    84.121547
                      9th     83.625455
Rodriguez High School 10th    76.612500
                      11th    76.395626
                      12th    77.690748
                      9th     76.859966
Shelton High School   10th    82.917411
                      11th    83.383495
                      12th    83.778976
                      9th     83.420755
Thomas High School    10th    83.087886
                      11th    83.498795
                      12th    83.497041
                      9th     83.590022
Wilson High School    10th    83.724422
                      11th    83.195326
                      12th    83.035794
                      9th     83.085578
Wright High School    10th    84.010288
                      11th    83.836782
                      12th    83.644986
                      9th     83.264706

In [177]:
#reading score by grade step 1 make a smaller data frame
grades_reading_df = school_all_df[['grade','school_name','reading_score']]
                                   
grades_reading_df.head()

  grade        school_name  reading_score
0   9th  Huang High School             66
1  12th  Huang High School             94
2  12th  Huang High School             90
3  12th  Huang High School             67
4   9th  Huang High School             97

In [178]:
#math score by grade step 2 group 'school name' and 'grade' together to isolate 'reading score'
reading_test = grades_reading_df.groupby(['school_name','grade'])

In [162]:
#math score by grade step 3 take 'reading_test'and .mean
reading_test.mean()

                             reading_score
school_name           grade
Bailey High School    10th       80.907183
                      11th       80.945643
                      12th       80.912451
                      9th        81.303155
Cabrera High School   10th       84.253219
                      11th       83.788382
                      12th       84.287958
                      9th        83.676136
Figueroa High School  10th       81.408912
                      11th       80.640339
                      12th       81.384863
                      9th        81.198598
Ford High School      10th       81.262712
                      11th       80.403642
                      12th       80.662338
                      9th        80.632653
Griffin High School   10th       83.706897
                      11th       84.288089
                      12th       84.013699
                      9th        83.369193
Hernandez High School 10th       80.660147
                      11th       81.396140
                      12th       80.857143
                      9th        80.866860
Holden High School    10th       83.324561
                      11th       83.815534
                      12th       84.698795
                      9th        83.677165
Huang High School     10th       81.512386
                      11th       81.417476
                      12th       80.305983
                      9th        81.290284
Johnson High School   10th       80.773431
                      11th       80.616027
                      12th       81.227564
                      9th        81.260714
Pena High School      10th       83.612000
                      11th       84.335938
                      12th       84.591160
                      9th        83.807273
Rodriguez High School 10th       80.629808
                      11th       80.864811
                      12th       80.376426
                      9th        80.993127
Shelton High School   10th       83.441964
                      11th       84.373786
                      12th       82.781671
                      9th        84.122642
Thomas High School    10th       84.254157
                      11th       83.585542
                      12th       83.831361
                      9th        83.728850
Wilson High School    10th       84.021452
                      11th       83.764608
                      12th       84.317673
                      9th        83.939778
Wright High School    10th       83.812757
                      11th       84.156322
                      12th       84.073171
                      9th        83.833333

In [48]:
scores_by_s = school_summary[['Average Math Score','Average Reading Score','% Passing Math',
                             '% Passing Reading',"% Overall Passing",'Per Student Budget']]

scores_by_s

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Per Student Budget
school_name,,,,,,
Bailey High School,77.048432,81.033963,66.680064,81.933280,54.642283,[628.0]
Cabrera High School,83.061895,83.975780,94.133477,97.039828,91.334769,[582.0]
Figueroa High School,76.711767,81.158020,65.988471,80.739234,53.204476,[639.0]
Ford High School,77.102592,80.746258,68.309602,79.299014,54.289887,[644.0]
Griffin High School,83.351499,83.816757,93.392371,97.138965,90.599455,[625.0]
Hernandez High School,77.289752,80.934412,66.752967,80.862999,53.527508,[652.0]
Holden High School,83.803279,83.814988,92.505855,96.252927,89.227166,[581.0]
Huang High School,76.629414,81.182722,65.683922,81.316421,53.513884,[655.0]
Johnson High School,77.072464,80.966394,66.057551,81.222432,53.539172,[650.0]
Pena High School,83.839917,84.044699,94.594595,95.945946,90.540541,[609.0]
Rodriguez High School,76.842711,80.744686,66.366592,80.220055,52.988247,[637.0]
Shelton High School,83.359455,83.725724,93.867121,95.854628,89.892107,[600.0]
Thomas High School,83.418349,83.848930,93.272171,97.308869,90.948012,[638.0]
Wilson High School,83.274201,83.989488,93.867718,96.539641,90.582567,[578.0]
Wright High School,83.682222,83.955000,93.333333,96.611111,90.333333,[583.0]

In [52]:
#0 to 584, 584 to 629, 629 to 644, 644 to 675
bins = [0,584,629,644,675]

group_a = ['<$584','$584-$629','$630-$644','$645-$675']

In [55]:
#names for bins
scores_by_s['Spending Ranges']= pd.cut(scores_by_s['Per Student Budget'], bins, labels=group_a)

scores_by_s

/Users/kscomputer/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Per Student Budget,Spending Ranges
school_name,,,,,,,
Bailey High School,77.048432,81.033963,66.680064,81.933280,54.642283,[628.0],$584-$629
Cabrera High School,83.061895,83.975780,94.133477,97.039828,91.334769,[582.0],<$584
Figueroa High School,76.711767,81.158020,65.988471,80.739234,53.204476,[639.0],$630-$644
Ford High School,77.102592,80.746258,68.309602,79.299014,54.289887,[644.0],$630-$644
Griffin High School,83.351499,83.816757,93.392371,97.138965,90.599455,[625.0],$584-$629
Hernandez High School,77.289752,80.934412,66.752967,80.862999,53.527508,[652.0],$645-$675
Holden High School,83.803279,83.814988,92.505855,96.252927,89.227166,[581.0],<$584
Huang High School,76.629414,81.182722,65.683922,81.316421,53.513884,[655.0],$645-$675
Johnson High School,77.072464,80.966394,66.057551,81.222432,53.539172,[650.0],$645-$675
Pena High School,83.839917,84.044699,94.594595,95.945946,90.540541,[609.0],$584-$629
Rodriguez High School,76.842711,80.744686,66.366592,80.220055,52.988247,[637.0],$630-$644
Shelton High School,83.359455,83.725724,93.867121,95.854628,89.892107,[600.0],$584-$629
Thomas High School,83.418349,83.848930,93.272171,97.308869,90.948012,[638.0],$630-$644
Wilson High School,83.274201,83.989488,93.867718,96.539641,90.582567,[578.0],<$584
Wright High School,83.682222,83.955000,93.333333,96.611111,90.333333,[583.0],<$584

In [88]:
scores_by_s.dtypes

Average Math Score        float64
Average Reading Score     float64
% Passing Math            float64
% Passing Reading         float64
% Overall Passing         float64
Per Student Budget         object
Spending Ranges          category
dtype: object

In [64]:
scores_by_spend = scores_by_s.groupby(['Spending Ranges'])

scores_by_spend.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges,,,,,
<$584,83.455399,83.933814,93.460096,96.610877,90.369459
$584-$629,81.899826,83.155286,87.133538,92.718205,81.418596
$630-$644,78.518855,81.624473,73.484209,84.391793,62.857656
$645-$675,76.997210,81.027843,66.164813,81.133951,53.526855

In [65]:
size_s = school_summary[['Average Math Score','Average Reading Score','% Passing Math',
                             '% Passing Reading',"% Overall Passing",'Total Students']]

size_s

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Total Students
school_name,,,,,,
Bailey High School,77.048432,81.033963,66.680064,81.933280,54.642283,[4976]
Cabrera High School,83.061895,83.975780,94.133477,97.039828,91.334769,[1858]
Figueroa High School,76.711767,81.158020,65.988471,80.739234,53.204476,[2949]
Ford High School,77.102592,80.746258,68.309602,79.299014,54.289887,[2739]
Griffin High School,83.351499,83.816757,93.392371,97.138965,90.599455,[1468]
Hernandez High School,77.289752,80.934412,66.752967,80.862999,53.527508,[4635]
Holden High School,83.803279,83.814988,92.505855,96.252927,89.227166,[427]
Huang High School,76.629414,81.182722,65.683922,81.316421,53.513884,[2917]
Johnson High School,77.072464,80.966394,66.057551,81.222432,53.539172,[4761]
Pena High School,83.839917,84.044699,94.594595,95.945946,90.540541,[962]
Rodriguez High School,76.842711,80.744686,66.366592,80.220055,52.988247,[3999]
Shelton High School,83.359455,83.725724,93.867121,95.854628,89.892107,[1761]
Thomas High School,83.418349,83.848930,93.272171,97.308869,90.948012,[1635]
Wilson High School,83.274201,83.989488,93.867718,96.539641,90.582567,[2283]
Wright High School,83.682222,83.955000,93.333333,96.611111,90.333333,[1800]

In [68]:
bin_s = [0,1000,2000,5000]

group_b = ['Small (<1000)','Medium (1000-2000)','Large(2000-5000)']

In [69]:
size_s['School Size']= pd.cut(size_s['Total Students'], bin_s, labels=group_b)

size_s

/Users/kscomputer/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Total Students,School Size
school_name,,,,,,,
Bailey High School,77.048432,81.033963,66.680064,81.933280,54.642283,[4976],Large(2000-5000)
Cabrera High School,83.061895,83.975780,94.133477,97.039828,91.334769,[1858],Medium (1000-2000)
Figueroa High School,76.711767,81.158020,65.988471,80.739234,53.204476,[2949],Large(2000-5000)
Ford High School,77.102592,80.746258,68.309602,79.299014,54.289887,[2739],Large(2000-5000)
Griffin High School,83.351499,83.816757,93.392371,97.138965,90.599455,[1468],Medium (1000-2000)
Hernandez High School,77.289752,80.934412,66.752967,80.862999,53.527508,[4635],Large(2000-5000)
Holden High School,83.803279,83.814988,92.505855,96.252927,89.227166,[427],Small (<1000)
Huang High School,76.629414,81.182722,65.683922,81.316421,53.513884,[2917],Large(2000-5000)
Johnson High School,77.072464,80.966394,66.057551,81.222432,53.539172,[4761],Large(2000-5000)
Pena High School,83.839917,84.044699,94.594595,95.945946,90.540541,[962],Small (<1000)
Rodriguez High School,76.842711,80.744686,66.366592,80.220055,52.988247,[3999],Large(2000-5000)
Shelton High School,83.359455,83.725724,93.867121,95.854628,89.892107,[1761],Medium (1000-2000)
Thomas High School,83.418349,83.848930,93.272171,97.308869,90.948012,[1635],Medium (1000-2000)
Wilson High School,83.274201,83.989488,93.867718,96.539641,90.582567,[2283],Large(2000-5000)
Wright High School,83.682222,83.955000,93.333333,96.611111,90.333333,[1800],Medium (1000-2000)

In [87]:
size_s.dtypes

Average Math Score        float64
Average Reading Score     float64
% Passing Math            float64
% Passing Reading         float64
% Overall Passing         float64
Total Students             object
School Size              category
dtype: object

In [70]:
size_by = size_s.groupby(['School Size'])

size_by.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large(2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [98]:
chartdis_s = school_summary[['School Type','Average Math Score','Average Reading Score','% Passing Math',
                             '% Passing Reading','% Overall Passing']]

chartdis_s

,School Type,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,
Bailey High School,[District],77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],83.682222,83.955000,93.333333,96.611111,90.333333

In [99]:
chartdis_s.dtypes

School Type               object
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

In [95]:
type_by = chartdis_s.groupby(['School Type'])

type_by.mean()

TypeError: unhashable type: 'numpy.ndarray'