In [40]:
import pandas as pd

In [41]:
school_path = "/Users/kscomputer/Desktop/PyCitySchools/pandas-challenge/Resources/students_complete.csv"
district_path = "/Users/kscomputer/Desktop/PyCitySchools/pandas-challenge/Resources/schools_complete.csv"

In [42]:
district_df = pd.read_csv(district_path)

school_df = pd.read_csv(school_path)

district_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [43]:
school_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [47]:
#find schools that are only in district. Remove Charter. 
district_size_df = district_df.loc[district_df['type']=='District',:]

district_size_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
3           3  Hernandez High School  District  4635  3022020
7           7     Bailey High School  District  4976  3124928
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916

In [51]:
#find count of school name to determine how many schools are in district
district_schools_amount = district_size_df['school_name'].count()

district_schools_amount

7

In [55]:
#find sum of students in the district
district_student_sum = district_size_df['size'].sum()

district_student_sum

26976

In [54]:
#find sum of budget for district
district_budget_sum = district_size_df['budget'].sum()

district_budget_sum

17347923

In [56]:
#use school df to get average math, reading, combined
school_name_unique = school_df['school_name'].unique()
school_name_unique

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)