In [43]:
import pandas as pd

In [44]:
school_path = "/Users/kscomputer/Desktop/PyCitySchools/pandas-challenge/Resources/students_complete.csv"
district_path = "/Users/kscomputer/Desktop/PyCitySchools/pandas-challenge/Resources/schools_complete.csv"

In [45]:
district_charter_df = pd.read_csv(district_path)



district_charter_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [46]:
school_all_df = pd.read_csv(school_path)

school_all_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [47]:
#merged dataframe where index can be set to make school summary easier
merged_df = pd.merge(school_all_df,district_charter_df, on='school_name', how='outer')

merged_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [48]:
#find schools that are only in district. Remove Charter. 
district_size_df = district_charter_df.loc[district_charter_df['type']=='District',:]

district_size_df.head()

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
3           3  Hernandez High School  District  4635  3022020
7           7     Bailey High School  District  4976  3124928
11         11  Rodriguez High School  District  3999  2547363

In [49]:
#find count of school name to determine how many schools are in district
district_size_count = district_size_df['School ID']

district_size= len(district_size_count)

district_size

7

In [50]:
#find sum of students in the district
district_student_sum = district_size_df['size'].sum()

district_student_sum

26976

In [51]:
#find sum of budget for district
district_budget_sum = district_size_df['budget'].sum()

district_budget_sum

17347923

In [52]:
#inner merge on district_size and school_all
math_reading_df = pd.merge(district_size_df, school_all_df[['reading_score','math_score','school_name']], on='school_name')

math_reading_df

,School ID,school_name,type,size,budget,reading_score,math_score
0,0,Huang High School,District,2917,1910635,66,79
1,0,Huang High School,District,2917,1910635,94,61
2,0,Huang High School,District,2917,1910635,90,60
3,0,Huang High School,District,2917,1910635,67,58
4,0,Huang High School,District,2917,1910635,97,84
...,...,...,...,...,...,...,...
26971,13,Ford High School,District,2739,1763916,63,59
26972,13,Ford High School,District,2739,1763916,94,80
26973,13,Ford High School,District,2739,1763916,91,66
26974,13,Ford High School,District,2739,1763916,75,70
26975,13,Ford High School,District,2739,1763916,76,84

In [53]:
#merge dataframe math_reading is good. 
math_reading_df['school_name'].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Name: school_name, dtype: int64

In [54]:
#avaerage math for district 
average_math_district = math_reading_df['math_score'].mean()

average_math_district

76.98702550415184

In [55]:
#average reading for district
average_reading_district = math_reading_df['reading_score'].mean()

average_reading_district

80.96248517200475

In [56]:
#percent passing math district
passing_math_district = (math_reading_df['math_score']>70).sum()

percent_math_district = (passing_math_district/26976)*100

percent_math_district

64.3053084223013

In [57]:
#percent passing reading
passing_reading_district = (math_reading_df['reading_score']>70).sum()

percent_reading_district = (passing_reading_district/26976)*100 

percent_reading_district

78.36966192170819

In [58]:
#percent passing math and reading
passing_reading_math_district = ((math_reading_df['reading_score']>70)& (math_reading_df['math_score']>70)).sum()

percent_reading_math_district = (passing_reading_math_district/26976)*100

percent_reading_math_district

50.23354092526691

In [59]:
summary_district = {'Total Schools':[district_size],
                      'Total Students':[district_student_sum],
                      'Total Budget':[district_budget_sum],
                      'Average Math Score':[average_math_district],
                      'Average Reading Score':[average_reading_district],
                      '% Passing Math': [percent_math_district],
                      '% Passing Reading':[percent_reading_district],
                      '% Overall Passing':[percent_reading_math_district]}

summary_district_df = pd.DataFrame(data = summary_district)
summary_district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,7,26976,17347923,76.987026,80.962485,64.305308,78.369662,50.233541

In [60]:
#here to make percent and average easier
schools_name = merged_df.set_index('school_name').groupby(['school_name'])

schools_name

In [61]:
schools_count = merged_df.set_index('size').groupby(['school_name'])

schools_count

In [62]:
school_type = district_charter_df['type']

school_type

0     District
1     District
2      Charter
3     District
4      Charter
5      Charter
6      Charter
7     District
8      Charter
9      Charter
10     Charter
11    District
12    District
13    District
14     Charter
Name: type, dtype: object

In [67]:
#school name -not indexed in alphabetical order
school_name = district_charter_df['school_name']

school_name

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [68]:
#School summary total students per school-not indexed in alphabetical order
school_students_count= district_charter_df['size']

school_students_count

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [69]:
#school budget total
school_budget= district_charter_df['budget']

school_budget

0     1910635
1     1884411
2     1056600
3     3022020
4      917500
5     1319574
6     1081356
7     3124928
8      248087
9      585858
10    1049400
11    2547363
12    3094650
13    1763916
14    1043130
Name: budget, dtype: int64

In [70]:
#per student budget-not indexed alphabetically- values are correct but not in that order
schools_per_student_budget = district_charter_df['budget']/district_charter_df['size']

schools_per_student_budget

0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
dtype: float64

In [71]:
average_math_per_school = ((merged_df['math_score']>70).sum()).groupby(['school_name'])

average_math_per_school

AttributeError: 'numpy.int64' object has no attribute 'groupby'

In [72]:
#average math per school
average_math_per_school = 
average_math_per_school

SyntaxError: invalid syntax (<ipython-input-72-40215087bd16>, line 2)

In [73]:
#average reading per school

In [74]:
#percent passed math -passing = 70

In [75]:
#percent passed reading- passing = 70

In [76]:
#percent passed math and reading

In [77]:
#redo and clean the data so that school_df has not charters and then remerge. Will be able to work off of one dataset then

In [89]:
summary_schools = {'School Name':[schools_name],
                'Total Students':[schools_count]
                  }

summary_schools_df = pd.DataFrame(data = summary_schools)

summary_schools_df

,School Name,Total Students
0,<pandas.core.groupby.generic.DataFrameGroupBy ...,<pandas.core.groupby.generic.DataFrameGroupBy ...