In [43]:
import pandas as pd

In [44]:
school_path = "/Users/kscomputer/Desktop/PyCitySchools/pandas-challenge/Resources/students_complete.csv"
district_path = "/Users/kscomputer/Desktop/PyCitySchools/pandas-challenge/Resources/schools_complete.csv"

In [45]:
district_charter_df = pd.read_csv(district_path)



district_charter_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [46]:
school_all_df = pd.read_csv(school_path)

school_all_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [47]:
#merged dataframe where index can be set to make school summary easier
merged_df = pd.merge(school_all_df,district_charter_df, on='school_name', how='outer')

merged_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [48]:
#find schools that are only in district. Remove Charter. 
district_size_df = district_charter_df.loc[district_charter_df['type']=='District',:]

district_size_df.head()

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
3           3  Hernandez High School  District  4635  3022020
7           7     Bailey High School  District  4976  3124928
11         11  Rodriguez High School  District  3999  2547363

In [49]:
#find count of school name to determine how many schools are in district
district_size_count = district_size_df['School ID']

district_size= len(district_size_count)

district_size

7

In [50]:
#find sum of students in the district
district_student_sum = district_size_df['size'].sum()

district_student_sum

26976

In [51]:
#find sum of budget for district
district_budget_sum = district_size_df['budget'].sum()

district_budget_sum

17347923

In [52]:
#inner merge on district_size and school_all
math_reading_df = pd.merge(district_size_df, school_all_df[['reading_score','math_score','school_name']], on='school_name')

math_reading_df

,School ID,school_name,type,size,budget,reading_score,math_score
0,0,Huang High School,District,2917,1910635,66,79
1,0,Huang High School,District,2917,1910635,94,61
2,0,Huang High School,District,2917,1910635,90,60
3,0,Huang High School,District,2917,1910635,67,58
4,0,Huang High School,District,2917,1910635,97,84
...,...,...,...,...,...,...,...
26971,13,Ford High School,District,2739,1763916,63,59
26972,13,Ford High School,District,2739,1763916,94,80
26973,13,Ford High School,District,2739,1763916,91,66
26974,13,Ford High School,District,2739,1763916,75,70
26975,13,Ford High School,District,2739,1763916,76,84

In [53]:
#merge dataframe math_reading is good. 
math_reading_df['school_name'].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Name: school_name, dtype: int64

In [54]:
#avaerage math for district 
average_math_district = math_reading_df['math_score'].mean()

average_math_district

76.98702550415184

In [55]:
#average reading for district
average_reading_district = math_reading_df['reading_score'].mean()

average_reading_district

80.96248517200475

In [166]:
#percent passing math district
passing_math_district = (math_reading_df['math_score']>=70).sum()

percent_math_district = (passing_math_district/26976)*100

percent_math_district

66.51838671411625

In [167]:
#percent passing reading
passing_reading_district = (math_reading_df['reading_score']>=70).sum()

percent_reading_district = (passing_reading_district/26976)*100 

percent_reading_district

80.90524911032028

In [168]:
#percent passing math and reading
passing_reading_math_district = ((math_reading_df['reading_score']>=70)& (math_reading_df['math_score']>=70)).sum()

percent_reading_math_district = (passing_reading_math_district/26976)*100

percent_reading_math_district

53.695877817319094

In [169]:
summary_district = {'Total Schools':[district_size],
                      'Total Students':[district_student_sum],
                      'Total Budget':[district_budget_sum],
                      'Average Math Score':[average_math_district],
                      'Average Reading Score':[average_reading_district],
                      '% Passing Math': [percent_math_district],
                      '% Passing Reading':[percent_reading_district],
                      '% Overall Passing':[percent_reading_math_district]}

summary_district_df = pd.DataFrame(data = summary_district)
summary_district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,7,26976,17347923,76.987026,80.962485,66.518387,80.905249,53.695878

In [132]:
#here to make percent and average easier
schools_name = merged_df.set_index('school_name').groupby(['school_name'])

In [110]:
schools_type = district_charter_df.set_index('school_name')['type']

schools_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [162]:
student_per_school = schools_name['Student ID'].count()

student_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [111]:
schools_budget = district_charter_df.set_index('school_name')['budget']

schools_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [112]:
schools_per_student_budget = district_charter_df.set_index('school_name')['budget']/district_charter_df.set_index('school_name')['size']

schools_per_student_budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [133]:
#math score average per school
average_math_score = schools_name['math_score'].mean()

average_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [134]:
average_reading_score = schools_name['reading_score'].mean()

average_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [165]:
percent_passing_math = (merged_df.loc[merged_df['math_score']>=70].groupby('school_name')['Student ID'].count()/student_per_school)*100

percent_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [170]:
percent_passing_reading = (merged_df.loc[merged_df['reading_score']>=70].groupby('school_name')['Student ID'].count()/student_per_school)*100

percent_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [180]:
math_reading_per_school = merged_df[(merged_df['math_score']>=70)&(merged_df['reading_score']>=70)].groupby('school_name')['Student ID'].count()/student_per_school

percent_overall = (math_reading_per_school)*100

percent_overall

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: Student ID, dtype: float64